ENVIRONMENT=dev
DRIVER=~fastapi+~websockets
HOST=127.0.0.1
PORT=8080
LOG_LEVEL=INFO
SUPERUSERS=[""]
# 第一个名称是全局显示名称，全部名称都可作为 NoneBot 和 Frontier 的唤醒词。
NICKNAME=["Frontier"]
COMMAND_START=["/"]
SESSION_EXPIRE_TIMEOUT=00:02:00

TOKENIZERS_PARALLELISM=false
