[endpoint]
openai_base_url = ""
basic_model = ""
advan_model = ""
paint_model = ""

[api_key]
openai_api_key = ""
nasa_api_key = "DEMO_KEY"
github_pat = ""

[function]
agent_whitelist_mode = false
agent_whitelist_person_list = []
agent_whitelist_group_list = []

paint_whitelist_mode = false
paint_whitelist_person_list = []
paint_whitelist_group_list = []

[message]
test_group_id = []
announce_group_id = []
raw_message_group_id = []
apod_group_id = []
earth_now_group_id = []
news_summary_group_id = []
earthquake_group_id = []

[database]
query_message_numbers = 100

[debug]
agent_debug_mode = false